- @usage_by_date.each do |usage_by_date|
  %div= "#{usage_by_date[0]} #{usage_by_date[1]}"

%p
  = link_to 'default', report_path()
  = link_to 'sort by users', report_path(sort: 'users')
  = link_to 'sort by time', report_path(sort: 'time')

%table{ border: 1}
  %tr
    %td user id
    %td user name
    %td ip
    %td usage_type
    %td details
    %td plan id
    %td day
    %td created_at

  - @users.each do |usage|
    %tr
      %td= usage.user_id
      %td= usage.user_name
      %td= usage.ip
      %td= usage.usage_type
      %td= usage.details
      %td= usage.plan_id
      %td= usage.day
      %td= usage.created_at.in_time_zone("Pacific Time (US & Canada)")
